body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: #000000;
    flex: 1 0 auto;
    color: #FFFFFF;
}

footer {
    color: #FFFFFF;
    background-color: #000000;
}

.header {
    background: url(../img/lanterns-2792988_1920.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header-text {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FF0000, 0 0 30px #FF0000, 0 0 40px #FF0000, 0 0 55px #FF0000, 0 0 75px #FF0000;
}

.order-online-button {
    opacity: 0.9;
}

.section-title-text {
    font-weight: 900;
}

/* Use for creating center nav bar */
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav {
    opacity: 0.9;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#map {
    width: 100%; 
    height: 293px;
}